In [1]:
from prepared_data import data as df

There are no NaN or null values in the DataFrame after cleaning.

In [2]:
df

,datetime,bid_open,bid_high,bid_low,bid_close,ask_open,ask_high,ask_low,ask_close
96,2020-01-02 00:00:00,1.12184,1.12186,1.12156,1.12157,1.12198,1.12199,1.12167,1.12168
97,2020-01-02 00:15:00,1.12154,1.12164,1.12151,1.12155,1.12168,1.12177,1.12165,1.12169
98,2020-01-02 00:30:00,1.12157,1.12169,1.12152,1.12167,1.12169,1.12182,1.12164,1.12181
99,2020-01-02 00:45:00,1.12169,1.12183,1.12169,1.12178,1.12181,1.12197,1.12181,1.12191
100,2020-01-02 01:00:00,1.12177,1.12225,1.12176,1.12221,1.12190,1.12238,1.12188,1.12234
...,...,...,...,...,...,...,...,...,...
143708,2024-02-05 23:00:00,1.07424,1.07426,1.07414,1.07419,1.07443,1.07445,1.07431,1.07439
143709,2024-02-05 23:15:00,1.07419,1.07426,1.07419,1.07423,1.07439,1.07443,1.07434,1.07438
143710,2024-02-05 23:30:00,1.07423,1.07423,1.07403,1.07420,1.07438,1.07440,1.07420,1.07437
143711,2024-02-05 23:45:00,1.07420,1.07427,1.07401,1.07404,1.07437,1.07443,1.07417,1.07419
143712,2024-02-06 00:00:00,1.07403,1.07432,1.07403,1.07415,1.07419,1.07447,1.07419,1.07431